<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.tgsmf">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 네트워크 상태 읽기 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.TGSSplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.TGSMF.SPLASH">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.TGSLoginActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.TGSBiometricActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".activity.TGSNaviWebActivity"
            android:exported="true"
            android:label="@string/title_activity_tgsnavi_home"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.TGSMF"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.TGSWebActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.TGSPictureLocationUploadActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TGSMF.HALFTRANS"
            tools:replace="screenOrientation" />
        <activity
            android:name=".activity.TGSQRScanActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".activity.TGSPushMessageActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- <activity -->
        <!-- android:name=".activity.base.TGSBasePushHubActivity" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="sensorPortrait" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" -->
        <!-- android:launchMode="singleInstance"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="FCM_ACTIVITY" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <service
            android:name=".fcm.push.TGSFireBaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 파일경로 xml 생성 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>